In [1]:
import numpy as np
import pandas as pd
import os

---
Question 1: Version of NumPy

---

In [2]:
print(np.__version__)

1.22.3

---
Question 2: Number of records in the dataset

---

In [3]:
pwd = os.path.curdir
data_path = os.path.join(pwd, "data", "data.csv")
print(data_path)

.\data\data.csv

In [4]:
df = pd.read_csv(data_path)

In [5]:
df.head(3)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350

In [6]:
print(df.shape[0])

11914

---
Question 3: The most popular car manufacturers
    
---

In [7]:
df.groupby("Make").size().sort_values(ascending=False).head(5)

Make
Chevrolet     1123
Ford           881
Volkswagen     809
Toyota         746
Dodge          626
dtype: int64

--- 
Question 4: Number of unique Audi car models

---

In [8]:
print(df[df.Make=="Audi"]["Model"].unique())

df[df.Make=="Audi"]["Model"].nunique()

['100' '200' '80' '90' 'A3' 'A4 allroad' 'A4' 'A5' 'A6' 'A7' 'A8'
 'allroad quattro' 'allroad' 'Cabriolet' 'Coupe' 'Q3' 'Q5' 'Q7' 'R8'
 'RS 4' 'RS 5' 'RS 6' 'RS 7' 'S3' 'S4' 'S5' 'S6' 'S7' 'S8' 'SQ5' 'TT RS'
 'TT' 'TTS' 'V8']

34

---
Question 5: Number of columns with missing values

---

In [9]:
sum(df.isna().sum() > 0)

5

---
Question 6: Does the median value change after filling missing values?

---

In [10]:
logical_arr = df.isna().sum()>0

df.loc[:, logical_arr].describe().loc["50%"]

Engine HP           227.0
Engine Cylinders      6.0
Number of Doors       4.0
Name: 50%, dtype: float64

In [11]:
old_median = df.loc[:, "Engine Cylinders"].median()
ec_mode = df.loc[:, "Engine Cylinders"].mode()
new_median = df["Engine Cylinders"].fillna(ec_mode).median()

assert old_median == new_median, "Median Value has changed"
# SAME as BEFORE -> No.

---
Questions 7: Value of the first element of w 

---

In [12]:
df.loc[df.Make == "Lotus", ["Engine HP", "Engine Cylinders"]].drop_duplicates()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [13]:
df.loc[df.Make == "Lotus", ["Engine HP", "Engine Cylinders"]].nunique()

Engine HP           9
Engine Cylinders    3
dtype: int64

In [14]:
X = df.loc[df.Make == "Lotus", ["Engine HP", "Engine Cylinders"]].drop_duplicates()
X = X.values
type(X), X.shape

(numpy.ndarray, (9, 2))

In [15]:
XTX = np.dot(X.T, X)
XTX.shape

(2, 2)

In [16]:
XTXm = np.matrix(XTX)
XTXinv = XTXm.I        # Alternative to np.linalg.inv()
print(XTXinv.shape)

(2, 2)

In [17]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [18]:
result = XTXinv * X.T
result.shape

(2, 9)

In [19]:
w = result @ y

In [20]:
w

matrix([[  4.59494481, -63.56432501]])

In [21]:
# Used matrix.base to get back to the np.ndarray.
print("The value of the first element of w is {}".format(w.base.round(4)[0]))

The value of the first element of w is 4.5949

---
The end of the Week 1 assignment.

---